{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CommunityConnect</title>
</head>

<body>
    <main>

        {{#if user.username}}

        <form id="logout-form" action="logout" method="GET"> 
          <button type = "submit"> Logout </button>
        </form>

        {{else}}

        <form id="login-form" action="login" method="GET"> 
          <button type = "submit"> LogIn </button>
        </form>

        {{/if}}

        {{{body}}}
    </main>
</body>

</html>