<!-- account.handlebars -->
<h1>My Account</h1>
<div class="user-details">
    <div class="user-info">
         <p><strong>Email:</strong> {{email}}</p>
        <p><strong>Username:</strong> {{username}}</p>

       
    </div>
</div>