<div class="container">
  <h1 class="my-4 text-center">Upcoming Events</h1>

  <div class="row">
    {{#each events}}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{eventName}}</h5>
            <p class="card-text"><strong>Location:</strong> {{eventLocation}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>