<h1>CommunityConnect</h1>
    <form id="list-form" action="/" method="GET"> 
        <button type="submit"> Event Lists </button>
    </form>

    <form id="acount-form" action="/" method="GET"> 
        <button type="submit"> Account </button>
    </form>