{{!--

If the user is NOT logged in, and 'GET /register' endpoint is called, you will render this sign-up form view that displays two input (one for the username and one for password):
-The form will be used to submit the POST request to the '/register' route on the server and must have an 'id' of 'registration-form'
-The input for the username must have a 'name' and 'id' of 'usernameInput'
-The input for the password must have a 'name' and 'id' of 'passwordInput' and should be an input type of password.

Do not forget to use labels for your inputs! For the labels, you will use the method of using the 'for' attribute. 
You should have a label for both the username and password inputs referencing their id's in the for attribute of the label

You will also have a link on this page that links to '/' and has the text "Already have an account? Click here to log-in"

--}}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form id="signup-form" action="/register" method="POST" class="p-3 border rounded">
                <h1 class="h3 mb-4 text-center">Sign Up</h1>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" name="usernameInput" placeholder="Enter username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" name="passwordInput" placeholder="Enter password" required>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
 <p class="text-center mt-5">{{error}}</p>

