a {
	color: white;
	text-decoration: solid;
	font-size: 15pt;
    background: black;
    padding: 0.4%;
}

button.like{
  background: green
  
}

label.commentLabel{
  font-size: 17pt;
}

.new-commentText {
  height:40px;
  width: 800px;
  font-size:14pt;


}

.speciality {
    text-decoration: none;
    background-color: white;
    color: #ee0000;
    text-transform: capitalize;
    font-size: 18pt;
}

.name {
    background-color: white;
    color: black;
    text-decoration: solid;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

h2{
    color: #ce8400;
    text-decoration: wavy;
    font-size: 20pt;
}

h1{
    color: black;
    text-decoration: underline;
    font-size: 40pt;
}
.furtureApt{
  color: green;
}
.pastApt{
  color: rgb(230, 17, 17);
}

p{
    color: black;
    font-size: 20pt;

}

button{
    color: white;
    background: #ee0000;
}
.btn-primary-appointment-view-button,
.btn-primary-appointment-delete-button,
.btn-secondary-appointment-view-button,
.btn-primary-appointment-reschedule-button{
    color: white !important;;

background-color: hsl(226, 82%, 56%) !important;
}

.apt_error_span{
    margin-top : 4px;
}


.apt_error_class {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: #ee0000;
   }
   div.apointmentDiv {
    margin-bottom: 15px;
    margin-top: 10px;
  }
  label.apointmentLable {
    display: inline-block;
    width: 120px;
  }
  #viewModalLabel,#docCalendarIndivPg{
    font-size: 22px;
    text-decoration: none; 
    color: purple;
  }
  .doc_calendar_li{

    color: red;
    font-size: 10pt;
  }
  .doc_calendar_ul{
    list-style-image: url("/public/images/calendar.png");
  }

  .patientTable tr td:first-child {
    width: 200px;

  }

  .patientTable tr td:last-child {
    width: 300px;
    height: 40px;
  }
  .patientAppointmentTable tr td:first-child {
    width: 100px;

  }
  .patientAppointmentTable tr td:nth-child(2) {
    width: 100px;

  }
  .patientAppointmentTable tr td:nth-child(3) {
    width: 150px;

  }
  .patientAppointmentTable tr td:last-child {
    width: 300px;
    height: 40px;
  }
  #patientPic {
    width: 50%;
    height: auto;
  }
  #aptPatientHomeTitle{
    color:#ce8400;
  }
li{
    list-style-type:square;
    color: red;
    font-size: 18pt;
}

section{
    border:ridge;
    border-color: blue;
    border-width: 3pt;
}

dt{
    color: purple;
    font-size: 15pt;
}

dl{
    border-style: groove;
    border-color: blue;
    font-size: 6pt;
}

dd{
    color: green;
    font-size: 12pt;
}
img{
width: 300px;
  height: 300px;
  object-fit: contain;
}

dd.name{
    color: black;
    font-size: 17pt;
}

a.home_page{
    color: black;
    font-size: 20pt;
}

#no-account-link a {
    background-color: white;
    font-size: 14px;
}

#no-account-link a:hover {
    text-decoration: underline;
    font-size: 14px;
}

#already-have-account-link a {
    background-color: white;
    font-size: 14px;
}

#already-have-account-link a:hover {
    text-decoration: underline;
    font-size: 14px;
}

#account_creation_toast {
    background-color: black;
    color: white;
}

#error_toast {
    background-color: red;
    color: white;
}

.overlay {
    position: fixed;
    width: 100%;
    height:100%;
    z-index: 5000;
    display: flex;
    align-items: center;
    background-color: gray;
    opacity: .90;
    top: 0;
}

#loading_icon {
    display: flex;
    margin: 0 auto;
    color: black;
}

#login_btn {
    background-color: black;
}

#sign_up_btn {
    background-color: black;
}

#username_btn{
    background-color: black;
}

.top_corner {
    padding-top: 10px;
    padding-right: 10px;
    position: absolute;
    top:0;
    right:0;
}

#user_dropdown li {
    list-style-type: none;
}

#user_dropdown li a:active{
    background-color: black;
    color: white;
}

#user_info {
    padding-left: 0px;
}

#user_info li {
    color: black;
    list-style-type: none;
    padding-left: 0px;
}

#upload_error {
    text-align: center;
}

#edit_title {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.account_field_item {
    color: black;
    font-size: 20px;
}

.profile_picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

#account_section {
    padding-left: 10px;
    border-style: none;
}

.profile_picture_container {
    position: relative;
    width: 200px;
}

#profile_picture_edit_btn {
    position: absolute;
    top: 0px;
    right: 0px;
}

#edit_btn {
    width: 300px;
}

#upload_container {
    cursor: pointer;
    text-align: center;
    background-color: white;
    border-style: solid;
    color: black;

}

#submit_profile_picture {
    width: 200px;
}

.rating {
  --dir: right;
  --fill: gold;
  --fillbg: rgba(100, 100, 100, 0.15);
  --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 1rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: var(--w);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
}
[dir="rtl"] .rating {
  --dir: left;
}
.rating::-moz-range-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-webkit-slider-runnable-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
}
.rating::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
  -webkit-appearance: none;
}
.rating, .rating-label {
  display: block;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
  margin-block-end: 1rem;
}

.addingReview {
	border-style: solid;
}

#addReview {
  border-color: black;
  color: black;

}

#nav_title {
  color: black;
	text-decoration: none;
	font-size: 25pt;
  font-weight: bold;
  background: #F8F9FA;
  padding: 0;
}

#navbar_item  {
    list-style-type: none;
}

#search_form {
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar_item a {
  color: black;
  background-color: white;
  font-size: 15pt;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
   height: 13px;
   width: 13px;
   background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewPort='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='1' y1='11' x2='11' y2='1' stroke='black' stroke-width='2'/%3e%3cline x1='1' y1='1' x2='11' y2='11' stroke='black' stroke-width='2'/%3e%3c/svg%3e");
}

.heading {
  color: #ce8400;
  text-decoration: wavy;
  font-size: 20pt;
}

#loginModalLabel, #sign_up_modal_label, #edit_account_modal_label, #edit_profile_picture_modal_label  {
  color:black;
}

#speciality_heading {
  color: #ce8400;
  text-decoration: wavy;
  font-size: 24pt;
}

.userName {
  color: red;
  font-size: 20pt;
  font-weight: bold;
}
